{% extends "auth_module/base.html" %}

{% block title %} Сброс пароля {% endblock %}

{% block content %}
<div class="row d-flex justify-content-center">
    <div class="col-6">
        <div class="text-center mb-3">
            <h4>Сброс пароля</h4>
        </div>
        <div class="mb-3">
            <form method="post">{% csrf_token %}
                <fieldset class="module aligned">
                    <div class="form-group mb-3">
                        <div class="form-row field-email">
                            {{ form.email.errors }}
                            <div class="form-group">
<!--                                {{ form.email }}-->
                                <input type="email" id="id_email" name="email" class="form-control" autocomplete="email" maxlength="254" required>
                            </div>
                        </div>
                    </div>
                    <input type="submit" value="Восстановить" class="btn btn-primary">
                </fieldset>
            </form>
        </div>
    </div>
</div>

<!--<form method="post">{% csrf_token %}-->
<!--<fieldset class="module aligned">-->
<!--    <div class="form-row field-email">-->
<!--        {{ form.email.errors }}-->
<!--        {{ form.email }}-->
<!--    </div>-->
<!--    <input type="submit" value="Восстановить">-->
<!--</fieldset>-->
<!--</form>-->

{% endblock %}