{% extends "auth_module/base.html" %}

{% block title %} Новый пароль {% endblock %}

{% block content %}

<div class="row d-flex justify-content-center">
    <div class="col-6">
        {% if validlink %}
            <div class="text-center mb-3">
                <h4>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</h4>
            </div>
            <div class="mb-3">
                <form method="post">{% csrf_token %}
                    <input class="hidden form-control mb-3" autocomplete="username" value="{{ form.user.get_username }}">
                    <input id="id_new_password1" class="form-control mb-3" type="password" name="new_password1" autocomplete="new-password">
                    <input id="id_new_password2" class="form-control mb-3" type="password" name="new_password2" autocomplete="new-password">
                    <input type="submit" value="Сменить пароль" class="btn btn-primary">
                </form>
            </div>
        {% else %}
            <div class="text-center mb-3">
                <h4>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась. Пожалуйста, запросите сброс нового пароля.</h4>
            </div>
        {% endif %}
    </div>
</div>

<!--{% if validlink %}-->

<!--<p>Пожалуйста, введите новый пароль дважды, чтобы мы могли убедиться, что вы ввели его правильно.</p>-->

<!--<form method="post">{% csrf_token %}-->
<!--<fieldset class="module aligned">-->
<!--    <input class="hidden form-control" autocomplete="username" value="{{ form.user.get_username }}">-->
<!--    <div class="form-row field-password1">-->
<!--        {{ form.new_password1.errors }}-->
<!--        {{ form.new_password1 }}-->
<!--    </div>-->
<!--    <div class="form-row field-password2">-->
<!--        {{ form.new_password2.errors }}-->
<!--        {{ form.new_password2 }}-->
<!--    </div>-->
<!--    <input type="submit" value=" 'Change my password' ">-->
<!--</fieldset>-->
<!--</form>-->

<!--{% else %}-->

<!--<p>translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." </p>-->

<!--{% endif %}-->

{% endblock %}