{% for post in posts %}
    <div class="col mb-2">
        <div class="card shadow-sm">
        {% if post.photo %}
            <img src="{{ post.photo.url }}" class="img-fluid" width="100%" height="225">
        {% endif %}    
        <div class="card-body">
            <p><h5 class="card-text">{{ post.title }}</h5></p>
            <p class="card-text">{{ post.short_description }}</p>
            <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">Read</button>
            </div>
            <small class="text-body-secondary">Likes: {{ post.likes }}</small>
            <small class="text-body-secondary">Reposts: {{ post.reposts }}</small>
            </div>
        </div>
        </div>
    </div>
{% endfor %}

