{% load static %}

<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
<!--        <link href="{% static "css/blog.css" %}" rel="stylesheet">-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="collapse" id="navbarToggleExternalContent">
            <div class="bg-light p-4 d-flex justify-content-center">
                <div>
                    <h5 class="text-dark h4">Crap! What a story!</h5>
                    <div class="row">
                        {% if request.user.is_authenticated %}
                            <div class="col-12 text-center">
                                <a href="{% url 'auth_module:logout' %}" class="nav-link">Выход</a>
                            </div>
                        {% else %}
                            <div class="col-6 text-center">
                                <a href="{% url 'auth_module:registration' %}" class="nav-link">Регистрация</a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="{% url 'auth_module:login' %}" class="nav-link">Вход</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-white bg-white">
            <div class="container-fluid">
                <button style="background-color: white; border: none" class="menu-btn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <h4 class="text-muted m-0">↓</h4>
                </button>
            </div>
        </nav>

        <div class="container-fluid">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>