{% extends "user_profile/base.html" %}

{% block title %} Изменить профиль {% endblock %}

{% block content %}

{% if messages %}
    {% for error in messages %}
        <div class="d-flex justify-content-center">
            <div class="col-6 alert alert-danger">
                {{ error }}
            </div>
        </div>
    {% endfor %}
{% endif %}

<div class="row d-flex justify-content-center">
        <div class="col-6">
            <form method="post" action="{% url 'user_profile:edit_information' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label class="form-label">Имя</label>
                    <input name="first_name" type="text" class="form-control" value="{{ user.first_name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Фамилия</label>
                    <input name="last_name" type="text" class="form-control" value="{{ user.last_name }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Имя пользователя</label>
                    <input name="username" type="text" class="form-control" value="{{ user.username }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Email</label>
                    <input name="email" type="email" class="form-control" value="{{ user.email }}">
                </div>
                <hr class="mb-2 mt-2">
                <div class="mb-3">
                    <label class="form-label">Домашний телефон</label>
                    <input name="phone_number" type="text" class="form-control" value="{{ user.profile.phone_number }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Мобильный телефон</label>
                    <input name="mobile_number" type="text" class="form-control" value="{{ user.profile.mobile_number }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Город</label>
                    <input name="city" type="text" class="form-control" value="{{ user.profile.city }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Страна</label>
                    <input name="country" type="text" class="form-control" value="{{ user.profile.country }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Должность</label>
                    <input name="job_title" type="text" class="form-control" value="{{ user.profile.job_title }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Компания</label>
                    <input name="company" type="text" class="form-control" value="{{ user.profile.company }}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Аватар</label>
                    <input name="avatar" class="form-control" type="file" id="formFile">
                </div>
                <button type="submit" class="btn btn-primary">Изменить</button>
            </form>
        </div>
    </div>
{% endblock %}

